.body{
	background: #f1cbdd;
}

.dd{
	color:rgb(148, 57, 57);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
.p-title{
	font-size: 70px;
	margin-bottom: 50px;
}

.p-home{
	font-size: 40px;
	margin-bottom: 50px;
	width: 1000px;
	text-align: center;
}

.p-home1{
	font-size: 40px;
	margin-bottom: 100px;
	width: 1000px;
	text-align: center;
}

.button-next{
	display: flex;
	width: 350px;
	height: 100px;
	background: #4d0526;
	color: #fff;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

.p-first{
	font-size: 40px;
	margin-bottom: 100px;
	width: 1000px;
	text-align: center;
}
.p-sec{
	font-size: 40px;
	margin-bottom: 50px;
	width: 1000px;
	text-align: center;
}

.img-sec-p{
	height: 500px;
	margin-bottom: 60px;
}